.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-cneter {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-stretch {
    align-items: stretch;
}



@include pad {
    .flex-md-column {
        flex-direction: column;
    }

    .d-md-none {
        display: none;
    }

    .d-md-block {
        display: block;
    }

    .d-md-inline-block {
        display: inline-block;
    }
}

@include mobile {
    .d-sm-block {
        display: block;
    }

    .d-sm-none {
        display: none;
    }

    .flex-sm-row {
        flex-direction: row;
    }

    .flex-sm-column {
        flex-direction: column;
    }

    .flex-sm-row-reverse {
        flex-direction: row-reverse;
    }

    .justify-content-sm-between {
        justify-content: space-between;
    }

    .align-items-sm-start {
        align-items: flex-start;
    }
}

.gap {
    &-column-1 {
        gap: 48px 0px;
    }

    &-column-2 {
        gap: 60px 0px;
    }

    &-column-3 {
        gap: 80px 0px;
    }

    @include pad {
        &-md-column-1 {
            gap: 24px 0px;
        }

        &-md-column-2 {
            gap: 40px 0px;
        }
    }

    @include mobile {
        &-sm-column-1 {
            gap: 16px 0px;
        }

        &-sm-column-2 {
            gap: 24px 0px;
        }
    }
}

/*
pc
80
48
60

md
24
40

sm
16
24



*/