.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;

    &-logo {
        display: block;
        background: url(../img/logo-white.png);
        background-size: contain;
        background-position: center;
        width: 80px;
        height: 50px;
        @include hide-text;
    }

    &-list {
        display: flex;
    }

    &-item {
        margin-left: 64px;
    }

    &-link {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        border-bottom: 3px solid transparent;

        &:hover {
            border-bottom: 3px solid $white;
        }
    }

    &-menu {
        display: none;
        padding: 6px;
        border: 2px solid transparent;
        transition: 0.5s ease-in-out;

        &.active {
            border-color: $white;
            border-radius: 4px;
            transform: rotate(360deg)
        }
    }
}

@include mobile {
    .nav {
        &-list {
            flex-wrap: wrap;
            order: 1;
            width: 100%;
            position: absolute;
            top: 74px;
            right: 0;
            left: 0;
            max-height: 0px;
            transition: all 0.8s;
            overflow: hidden;

            &.active {
                max-height: 216px;
            }
        }

        &-item {
            width: 100%;
            margin: 0;
        }

        &-link {
            background: $secondary;
            border: none;
            // border-bottom: 3px solid transparent;

            &:hover {
                border: none;
                background: $primary;
            }
        }

        &-menu {
            display: block;
        }
    }
}